<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <div id="layout-container">
      <div id="layout-content">
        {% if page.name  == "index.asciidoc" %}
        <section class="page-header">
          <h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1>
          <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>
          {% if site.show_downloads %}
            <!--
            Commented out: make header look slimmer.
            <b>Stable version ({{ site.pasdoc.stable_download_version }}):</b>
            <br>
            -->

            <a href="https://github.com/pasdoc/pasdoc/releases/download/v{{ site.pasdoc.stable_download_version }}/pasdoc-{{ site.pasdoc.stable_download_version }}-win64.zip" class="btn">Windows (x86_64)</a>
            <a href="https://github.com/pasdoc/pasdoc/releases/download/v{{ site.pasdoc.stable_download_version }}/pasdoc-{{ site.pasdoc.stable_download_version }}-linux-x86_64.tar.gz" class="btn">Linux (x86_64)</a>
            <a href="https://github.com/pasdoc/pasdoc/releases/download/v{{ site.pasdoc.stable_download_version }}/pasdoc-{{ site.pasdoc.stable_download_version }}-linux-arm.tar.gz" class="btn">Linux (Arm, 32-bit) (Raspberry Pi)</a>
            <a href="https://github.com/pasdoc/pasdoc/releases/download/v{{ site.pasdoc.stable_download_version }}/pasdoc-{{ site.pasdoc.stable_download_version }}-linux-aarch64.tar.gz" class="btn">Linux (Aarch64, 64-bit) (Raspberry Pi, PineTab2)</a>
            <a href="https://github.com/pasdoc/pasdoc/releases/download/v{{ site.pasdoc.stable_download_version }}/pasdoc-{{ site.pasdoc.stable_download_version }}-darwin-x86_64.zip" class="btn">macOS (x86_64)</a>
            <a href="https://github.com/pasdoc/pasdoc/releases/download/v{{ site.pasdoc.stable_download_version }}/pasdoc-{{ site.pasdoc.stable_download_version }}-darwin-aarch64.zip" class="btn">macOS (Aarch64)</a>

            <!--
            Commented out: make header look slimmer.
            <br>
            <br>

            <b>Unstable version ({{ site.pasdoc.unstable_download_version }}, more features and platforms):</b>
            <br>
            <a href="https://github.com/pasdoc/pasdoc/releases/download/snapshot/pasdoc-{{ site.pasdoc.unstable_download_version }}-win64.zip" class="btn">Windows (x86_64)</a>
            <a href="https://github.com/pasdoc/pasdoc/releases/download/snapshot/pasdoc-{{ site.pasdoc.unstable_download_version }}-linux-x86_64.tar.gz" class="btn">Linux (x86_64)</a>
            <a href="https://github.com/pasdoc/pasdoc/releases/download/snapshot/pasdoc-{{ site.pasdoc.unstable_download_version }}-linux-arm.tar.gz" class="btn">Linux (Arm, 32-bit) (Raspberry Pi)</a>
            <a href="https://github.com/pasdoc/pasdoc/releases/download/snapshot/pasdoc-{{ site.pasdoc.unstable_download_version }}-linux-aarch64.tar.gz" class="btn">Linux (Aarch64, 64-bit) (Raspberry Pi, PineTab2)</a>
            <a href="https://github.com/pasdoc/pasdoc/releases/download/snapshot/pasdoc-{{ site.pasdoc.unstable_download_version }}-darwin-x86_64.zip" class="btn">macOS (x86_64)</a>
            <a href="https://github.com/pasdoc/pasdoc/releases/download/snapshot/pasdoc-{{ site.pasdoc.unstable_download_version }}-darwin-aarch64.zip" class="btn">macOS (Aarch64)</a>
            -->
          {% endif %}
          {% if site.github.is_project_page %}
            <!--
            Commented out: make header look slimmer.
            <br>
            <br>

            <a href="{{ site.pasdoc.repository_url }}" class="btn">Source code (build with FPC or Delphi)</a>
            -->
          {% endif %}
        </section>
        {% endif %}

        {% comment %}
        View page variable, using Jekyll filter:
        <pre>
        {{ page | inspect }}
        </pre>
        {% endcomment %}

        <section class="main-content">
          {% if page.name != "index.asciidoc" %}
          {% comment %}
          <!-- breadcrumbs -->
          <section class="short-page-header">
            <h1><a class="main-page-link" href="{{ site.pasdoc.main_url }}">PasDoc</a> » {{ page.name | remove: ".asciidoc" }}</h1>
          </section>
          {% endcomment %}

          {% comment %}
          Display title following https://github.com/asciidoctor/jekyll-asciidoc
          {% endcomment %}
          <h1>{{ page.title }}</h1>
          {% endif %}

          {{ content }}

          <footer class="site-footer">
            {% comment %}
            {% if site.github.is_project_page %}
              <span class="site-footer-owner"><a href="https://pasdoc.github.io/">PasDoc</a> is maintained by <a href="https://github.com/pasdoc/pasdoc/graphs/contributors">a team of dedicated contributors</a>.</span>
            {% endif %}
            {% endcomment %}

            <p><span class="site-footer-credits">Improve this website by <a href="https://github.com/pasdoc/pasdoc.github.io">proposing a change to the sources</a>.</span></p>

            <p><span class="site-footer-credits"><a href="https://castle-engine.io/donate">Support Michalis, developer of PasDoc and Castle Game Engine</a>.</span></p>

            <p></p>
          </footer>
        </section>
      </div> <!-- div id="layout-content" -->

      <div id="layout-sidebar">
      <!-- See https://jekyllrb.com/docs/includes/ about Jekyll includes -->
      {% capture sidebar_content %}
      {% include sidebar.md %}
      {% endcapture %}
      {{ sidebar_content | markdownify }}
      </div> <!--div id="layout-sidebar" -->
    </div> <!--div id="layout-container" -->

    <!-- Matomo -->
    <script>
      var _paq = window._paq = window._paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(["setDoNotTrack", true]);
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="https://matomo.castle-engine.io/";
        _paq.push(['setTrackerUrl', u+'matomo.php']);
        _paq.push(['setSiteId', '2']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <noscript><p><img referrerpolicy="no-referrer-when-downgrade" src="https://matomo.castle-engine.io/matomo.php?idsite=2&amp;rec=1" style="border:0;" alt="" /></p></noscript>
    <!-- End Matomo Code -->
  </body>
</html>
